# Database
DB_USER=root
DB_PASSWORD=1234
DB_HOST=localhost
DB_NAME=testpy

# Flask
SECRET_KEY=change_this_to_a_random_string
DEBUG=True

# Google OAuth
GOOGLE_CLIENT_ID=360817230688-cspob8r0r4ha48llneh0jepf3pbpf4mj.apps.googleusercontent.com

# Admin whitelist (comma-separated)
ADMIN_EMAILS=gaelsantos034@gmail.com

# JWT
JWT_SECRET=change_this_to_a_random_string_too
